<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="LogRecorder" type="LogViewer.LogRecorder"></appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogRecorder" />
    </root>
  </log4net>
</configuration>